{% extends "base.html" %}
{% block lab %}Нравится / не нравится{% endblock %}
{% block main %}
    <div>
        Посажено деревьев: {{ tree_count }}
    </div>
    <form method="post">
        <!-- Кнопка "Посадить дерево" блокируется, если достигнуто MAX_TREES деревьев -->
        <button name="operation" value="plant" {% if tree_count >= 10 %}disabled{% endif %}>Посадить дерево</button>
        
        <!-- Кнопка "Срубить дерево" блокируется, если количество деревьев равно 0 -->
        <button name="operation" value="cut" {% if tree_count <= 0 %}disabled{% endif %}>Срубить дерево</button>
    </form>
{% endblock %}
